LITTERCOAST_ENVIRONMENT=local

LITTERCOAST_DATASET_ARCHIVE_PATH=./data/dataset.tar.gz
LITTERCOAST_EXTRACTED_DIR=./data/extracted/beach_plastic_litter_dataset_v2
LITTERCOAST_DATASET_ROOT=./data/garbage_classification
LITTERCOAST_DATASET_YAML_PATH=./data/waste.yaml
LITTERCOAST_MODEL_NAME=yolov8n.pt
LITTERCOAST_EPOCHS=50
LITTERCOAST_IMAGE_SIZE=640
LITTERCOAST_BATCH_SIZE=16
LITTERCOAST_RUN_NAME=garbage_detection_yolov8
LITTERCOAST_TRAIN_SPLIT_RATIO=0.8

LITTERCOAST_PREDICTIONS_PATH=./outputs/yolo_predictions.json
LITTERCOAST_MODEL_PATH=./models/yolov8_model.pt
LITTERCOAST_IMAGE_DIRECTORY=./data/images

LITTERCOAST_QR_LINK=https://forms.gle/PLDgtbQkSxKboPfv7
LITTERCOAST_QR_OUTPUT_PATH=./outputs/qrcode_link.png
LITTERCOAST_QR_VERSION=1
LITTERCOAST_QR_BOX_SIZE=10
LITTERCOAST_QR_BORDER=4
